html{
	scroll-behavior: smooth;
}

* {
	box-sizing: border;
	margin: 0;
	padding: 0;
}


.text-link a{
	color: #060A24;
	font-size: 16px;
	padding: 0 1em;
	font-family: 'IBM Plex Mono', monospace;
	text-decoration: none; 

}

.text-link a:hover{
	color: #00F3BB;
	font-size: 16px;
	text-decoration: line-through;
	font-family: 'IBM Plex Mono', monospace;
}  

.text-link a:active{
	color: #060A24;
	font-size: 16px;
	text-decoration: line-through;
	font-family: 'IBM Plex Mono', monospace;
	text-decoration: none; 
} 

.button{
	font-family: 'IBM Plex Sans', sans-serif;
	background-color: #00F3BB;
	color: #000000;
	border: 0;
	padding: 1em;
	width: 100%;
}

.button:hover{
	font-family: 'IBM Plex Sans', sans-serif;
	background-image: linear-gradient(225deg, #0000FE, #00F0B8);
	color: #ffffff;
	border: 0;
	padding: 1em;
	width: 100%;
}

.titulo{
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 36px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 42px;
	font-weight: normal;
	margin: 1em 0.5em;
}

.white{
	color: #ffffff
}
.blue{
	color:#060A24;
}


.p1{
	padding: 1em;
}

.relative{
	position: relative;
}

/** fonts **/
/* font-family: 'IBM Plex Sans', sans-serif; */
/* font-family: 'IBM Plex Mono', monospace; */

body{
	max-width: 1200px;
	margin: 0 auto;
}

/* HEADER */

#desktop-menu {
	display: none;
}

#mobile-menu{
	position: fixed;
	background-color: white;
	width: 100%;
	z-index: 1;
	padding: 0.5em 0;
}

.mostrar-menu {
	height: 30px;
	width: 30px;
	cursor: pointer;
}
.menu-desplazable {
	width: 100%;
	background-color: #0000EC;
	cursor: pointer;
	transition: all .4s ease;
	position: fixed;
	transform: translate(100%);
}

.menu-desplazable ul{
	list-style: none;
}

.text-link{
	margin: 1.5em 0;
}

.menu-desplazable ul .text-link a{
	color: white;
}


#desplegar {
	display: none;
}

#desplegar:checked ~ .menu-desplazable {
	transform: translate(-89.7%);
}

/*   MENU HAMBURGUESA */

.linea {
	height: 10%;
	width: 75%;
	background-color: rgb(0, 0, 0);
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all 0.2s ease;
}

.linea-top {
	top: 25%;
}

.linea-low {
	top: 75%;
}

.label-burger {
	display: inline-block;
	height: 80%;
	width: 90%;
	padding: 0.1rem;
	cursor: pointer;
	position: relative;
}
#desplegar:checked + .label-burger .linea-low {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-45deg);
}

#desplegar:checked + .label-burger .linea-med {
	opacity: 0;
}

#desplegar:checked + .label-burger .linea-top {
	top: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
}

/* FIN MENU HAMBURGUESA */



/* PORTADA */
.portada{
	padding: 7em 1em;
}

.portada-btn{
	margin-top:2em;
}

.portada h2{
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 36px;
	color: #060A24;
	letter-spacing: 0;
	line-height: 42px;
}
.portada span{
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 36px;
	color: #060A24;
	letter-spacing: 0;
	line-height: 42px;
	text-decoration: line-through;
}
.parrafos{
	font-family: 'IBM Plex Mono', monospace;
	font-size: 14px;
	color: #060A24;
	letter-spacing: 0;
	line-height: 22px;
	margin-top: 2em;
}

.text-btn{
	font-family: 'IBM Plex Sans', sans-serif;
}



/* EPISODIOS */
#episodios{
	/*	padding: 1em 1em; */
	/* position: relative; */
	height: 75rem;
	width: 100%
	top: 50px;
	left: 0;
}

#episodios h4{
		margin: 2em 0 0;
	}

.rectangle {
	height: 93rem;
	width: 100%;
	background-image: linear-gradient(225deg, #0000FF, #0000A3);
	clip-path: polygon(0% 4%, 100% 0%, 100% 80%, 0% 85%);
	position: absolute;
	padding-top: 3rem;
	max-width: 1200px;
}



.div-podcast {
	margin-top: 1em 0 ;
}

.podcast{
	margin-top: 1em;
}




/* IMG CELULAR */

#img-celular{
	padding: 0 1em;
}

#img-celular img{
	width: 100%;
	max-width:400px;
	position: relative;
}


svg {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 10vw;
}




/* ----- INVITADAS ----- */
.fotos{
	width: 100%;
}

#invitadas{
	margin-top:5em;
}

#invitadas h4{
	margin: 0.5em;
}



/* ----- ICONOS ----- */
#iconos {
	margin-top:3em;
}

.icon-div{
	text-align: center;
}

.bloques{
	padding:4em 2em 0;
}

.bloques:first-child{
	padding: 2em 0;
}

.icon-div p{
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 24px;
	color: #060A24;
	font-weight: bold;
	letter-spacing: 0;
}

/* ----- CTA ----- */
#cta{
	/*	padding: 1em 1em; */
	/* position: relative; */
	height: 340px;
	width: 100%
	top: 50px;
	left: 0;
}

.rectangle-cta {
	height: 18rem;
	width: 100%;
	background-image: linear-gradient(225deg, #0000FF, #0000A3);
	clip-path: polygon(0% 20%, 100% 0%, 100% 100%, 0% 100%);    position: absolute;
	padding-top: 3rem;
	max-width: 1200px;
}

#cta .contenedor{
	padding-top: 6em;
}

#cta h4{
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 36px;
	color: #FFFFFF;
	letter-spacing: 0;
	text-align: center;
	line-height: 42px;
}

#cta button{
	font-size: 15px;
	margin-top: 2em;
}




/* ----- FOOTER ----- */
#footer p{
	text-align: center;
	padding: 1em 0 0;
	font-family: 'IBM Plex Mono', monospace;

}

#footer ul{
	display: flex; 
	justify-content: space-between;
	padding: 1em 2em 0;
}

#footer li{
	list-style: none;
}

#footer i{
	color: #060A24;
	font-size: 18px;
}



/*  ----------------   MOBILE  ----------------  */
@media (min-width: 321px) {
	#desktop-menu {
		display: flex;
		justify-content: space-between;
		margin: 1em 1em;
	}

	ul {
		list-style: none;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		font-family: 'IBM Plex Mono', monospace;
	}

	#mobile-menu {
		display: none;
	}

	/* PORTADA */
	.portada{
		width: 60%;
		padding:2em 1em 2em 6em ;
	}
	.portada>p{
		margin-top: 1em;
	}
	.portada-btn{
		width: 200px;
	}
	.portada-btn:hover{
		width: 200px;
	}

	/* EPISODIOS */
	#episodios{
		height: 45rem;
	}

	#episodios h4{
		margin: 2em 1em 0;
	}

	.rectangle{
		height: 57rem;
	}


	.div-podcast{
		display: flex;
		justify-content: space-around;
		padding-bottom: 1em;
	}

	.podcast{
		width: 45%;
		margin-bottom: 1em;
	}

	/* IMG CELULAR */
	#img-celular{
		display: flex;
		align-items: center;
		padding: 0 10em;
	}
	

	/* INVITADAS */
	.grupo-fotos{
		display: flex
		max-width: 1200px;
	}
	#invitadas img{
		width: 33%
	}

	/* ICONOS */
	.icon-div{
		display: flex;
		width: 900px;
		margin: 0 auto;
	}

	#cta .contenedor{
		max-width: 600px;
		margin: 0 auto;
	}

	.bloques{
		padding:0 2em;
	}

	.bloques:first-child{
		padding: 0 2em;
	}

	.btn-contenedor{
		margin: 0 auto;
		max-width: 350px;
	}

	
	/* footer */
	#footer {
		display: flex;
		justify-content: space-between;
		margin: 0 1em 1em;
	}
	#footer li{
		padding: 0 1em;
	}
}